.form-register{
    @include formU($black, $white, 0, 30px, 80%);
    margin: 0 auto;
    margin-top: 6vh;
    border-radius: 4px;
    font-family: $texto-font;
    box-shadow: 7px 13px 37px #000;

    p{
        height: 40px;
        text-align: center;
        font-size: 18px;
    }

    a{
        color: $ref-color;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    h4{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .inputs{
        @include formU($white, $black, 18px, 10px, 100%);
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid $ref-color;
        font-family: $texto-font;
    }

    .botons{
        @include formU($ref-color, $white, 16px, 12px, 100%);
        border: none;
        margin: 16px 0;
    }
}