/*MEDIA QUERIES*/
@media (max-width: 700px){
    .texto{
        font-size: 15px;
        line-height: 1.1;
    }

    h2{
        font-size: 24px;
    } 

    h4{
        font-size: 16px;
    }

    img{
        width: 35vh;
        height: 30vh;
        display: block;
        
    }

    .redes-sociales{
        color: $white;
        font-weight: 500;
        font-size: 2vh;
        border-bottom: $white 1px solid;
        margin: 0;
    }    

    .captura{
        margin-top: 0;
    }
}