/*NAV*/
header{
    background-color: $back-color;
}


.li-hover{
    text-align: center;
    transition: all 2s;
    &:hover{
        background-color: $li-hover;
    }
}

.logo{
    @include mhw(0 10px 0 0, 4vh, 4vh);
    cursor: pointer;
}