/*Header y Background color*/
$back-color: #fff3f3;
$header-color: #f8fbff;

/*Texto color*/
$li-hover: #d2d6da;
$h2-color: #17002b;
$h2-color-hover:rgb(1, 204, 204);
$black: #000000;
$white: #ffffff;

/*Scroll color*/
$scroll-color: #00011c;

/*IMG color*/
$img-color-border: #4e4e4e;
