body{
    background-color: rgb(255, 243, 243);
}

.logo{
    width: 130px;
    cursor: pointer;
}

h1{
    color: rgb(114, 152, 7);
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    margin: 10px 0 30px 10px;
   
}

h2{
    color: rgb(23, 0, 43);
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    margin: 15px 0 15px 40px;
}

.texto{
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.3;
    margin: 10px 0 30px 0;
}
img{
    width: 30%;
    height: 25%;
    display: block;
    margin: auto;
    border: solid 3px rgb(78, 78, 78);
}

li{
    margin: 10px;
}

/*FOOTER*/
footer{
    display: flex;
}

.redes-sociales{
    width: 33%;
    height: 100px;
    background: #333;
    color: white;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.redes-sociales p{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 100px
}

.redes-sociales span{
    background-color: #444;
    font-size: 18px;
    width: 100%;
    padding: 30px 30px;
}

.redes-sociales span:hover{
    color: blue;
}

